<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.se_2019">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.ReadResultActivity"
            android:label="@string/title_activity_read_result"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".GetRoomInfo" />
        <activity
            android:name=".Activity.ReadPostActivity"
            android:label="ReadPostActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Content_Rules" />
        <activity android:name=".content_notice" />
        <activity android:name=".content_search_room" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.AddPostActivity" />
        <activity
            android:name=".Activity.AddRoomActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.ADDROOM" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.ForumActivity" />
        <activity
            android:name=".Activity.MainActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.Preferences" />
    </application>

</manifest>